<!DOCTYPE html>
<html style="height: 110%;width: 100%;">
	<head>
		<meta charset="UTF-8">
		<title></title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	</head>
	<body style="height: 100%; width: 100%;background-size: 100% 100%;background-color: floralwhite;">
		<div id= "main_framework" style=" margin: auto; width: 95%; height: 100%;top: 20px;">
			<div id="search_framework" style=" margin: auto;width: 90%; height: 18%;">
                {% load static %}
			  <img src="{% static "/new_logo_search.jpg" %}" style="width: 220px;height: 80px;position: absolute;left: 50px;" />

                <!-- 提交数据给金航 -->
                <form method='get' action="" target="_blank">
			    <input type="text" class="form-control" placeholder="please enter recipe here" style="text-transform: lowercase;position: absolute; top: 30px;width: 50%;left: 300px;" name="q">
				<div style="position: absolute; left: 73%;top: 30px;">
				<button type="submit" class="btn btn-info" >Search</button>
                    </div>
                </form>

			</div>
        </div>
        <div id="content_framework" style=" position:absolute;top: 100px;left:70px;width: 90%; height: 79%;">
            <table   style="width: 100%; height: 100%;" border="2px" >
                <tbody>
                <!--
                    作者：YingZhang9579@icloud.com
                    时间：2020-02-08
                    描述：试着和金航交互
                -->
                {% for result in page.object_list %}
                <tr>
                    <td style="vertical-align:text-top;">
                        <a data-toggle="modal" data-target="#myModal">{{result.title}}</a><br />
                        <a href="{{result.link}}">link</a>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true";>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        detailed inforamtion
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{result.text}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>
                {% endfor %}
					</tbody>
				</table>
		</div>

     <div style="position: absolute;top: 600px;left: 500px">
    {% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
        上一页{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;
        {% if page.has_next %}</a>{% endif %}
    </div>
{% endif %}
     </div>

        </div>
	</body>
</html>